<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cube 40</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/admin.css">

</head>
<body>
    <%- include("../particals/header") %>
    <%- include("../particals/alert") %>
    <h1>Всегда вам рады, <%= data.name %> </h1>

    <!-- Вкладки -->
    <div class="panel">
        <button onclick="getUsers()" class="wow-button">Загрузить пользователей</button>
        <button onclick="" class="wow-button">Получить премию</button>
    </div>
      
    
    <div id="table_cont" class="table_cont" hidden>
        <table>
        <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Почта</th>
                <th>Роль</th>
            </tr>
        </thead>
        <tbody id="UsersData">
        </tbody>
        </table>
    </div>
    
    <script src="js/lib.js"></script>
    <script src="js/admin.js"></script>
</body>
</html>