<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/reg.css">

    <title>ABMath</title>
</head>

<body>
    <%- include('../particals/alert'); %>
        <div class="col_log" id="col_log">
            <h1>Вход</h1>
            <h3><em>если вы бывалый зритель</em></h3>
            <input type="text" placeholder="Имя">
            <input type="email" placeholder="Почта">
            <input type="password" placeholder="Пароль">
            <input type="submit" value="Вперед" onclick="log()">
        </div>
        
        <div class="col_reg" id="col_reg">
            <h1>Регистрация</h1>
            <h3><em>если вы будущий зритель</em></h3>
            <input type="text" id="r_name" placeholder="Имя">
            <input type="text" id="r_surname" placeholder="Фамилия">
            <input type="email" id="r_mail" placeholder="Почта">
            <input type="password" id="r_pass" placeholder="Пароль">
            <input type="password" id="r_pass2" placeholder="Повторите пароль">
            <button type="submit" class="btn" onclick="reg()">Вперед</button>
        </div>

        <script src="js/lib.js"></script>
        <script src="js/reg.js"></script>
</body>

</html>