<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cube 40</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/wait.css">

</head>
<body>

<%- include("../particals/alert") %>

    <div class="nav">
        <div class="cntr">
            <div class="el-h">
                <img src="img/logo.jpg" alt="" srcset="" width="70px">
            </div>
            <div class="menu">
                <div class="el-h exit" onclick='ExitAlert();'>Выход</div>
            </div>
        </div>
    </div>
    <div style="height: 100px;"></div>


    <h1>Приветствую, <%= data.name %></h1>
    <div id="mystery"><em>Чтобы наше общество оставалось тайным, лишь избранные попадают на основную страницу.</em></div><br><br>
    <div class="main_text">Ожидайте подтверждения со стороны админа. После проверки вы сможете самостоятельно пользоваться нашим веб-ресурсом. <br>
    По возникающим вопросам обращайтесь к нашему сообществу. Спасибо за терпение.</div>
    <img src="img/sand_clocks.jpg" alt="" id="wait_img">
    <!--? Добавить EXIT, на admin добавить список всех учеников -->
    <script src="js/lib.js"></script>
</body>
</html>